<ion-header>
    <ion-toolbar>
        <ion-title>
            Paises de América
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let pais of paises">
        <ion-card-header>
            <img src="{{ pais.flag }}" alt="">
        </ion-card-header>
        <ion-card-title> {{ pais.name }}</ion-card-title>
        <ion-card-subtitle>Capital: {{ pais.capital }}</ion-card-subtitle>
        <ion-card-content>
            <p>Tiene una población de: {{ pais.population }} habitantes, se encuentra ubicada en la región de las : {{ pais.region }} en la zona {{ pais.subregion }}.
            </p>
            <ion-card-subtitle>
                Idiomas: {{ pais.languages[0].name }}
            </ion-card-subtitle>
            <ion-card-subtitle>
                Moneda: {{ pais.currencies[0].name }}
            </ion-card-subtitle>
        </ion-card-content>
    </ion-card>
</ion-content>